html {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 1.5;
  width: 100%;
  background-color: #E0E0E0;
}

main {
  height: 100vh;
}
.container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

#home {
  background-color: #53899f;
}

/* site-section */

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* .row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(230, 234, 240);
  background-image:
    linear-gradient(
      to right, 
      rgb(230, 234, 240),
      rgb(230, 234, 240) 15%,
      rgb(230, 234, 240) 45%,
      #ECF0F1 85%,
      #ECF0F1 5%
    );
} */

/* Services section */
#services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#services h2 {
  color: #53899f;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 22rem;
}

.services ul {
  padding-left: 0;
  list-style: none;
}

.services ul li div {
  border-radius: .8rem;
  padding: 1rem;
}

.service-card-1 {
  background-color: #1DE9B6;
  width: 10rem;
  margin: .5rem;
  text-align: center;
}

.service-card-2 {
  background-color: #00B0FF;
  width: 10rem;
  margin: .5rem;
  text-align: center;
}

.service-card-3 {
  background-color: #00E5FF;
  width: 10rem;
  margin: .5rem;
  text-align: center;
  overflow: auto;
}
/* .site-section-inside {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 15px;
  flex: 1;
}

.site-section-inside-pic {
  display: flex;
  justify-content: center;
}

.site-section-inside-pic img {
  height: 6rem;
}

.site-section-inside h3 {
  text-align: center;
  font-weight: 300;
  font-size: 35px;
}

.site-section-inside p {
  font-weight: 300;
  font-size: 15px;
} */

/* .center {
  line-height: 30px;
}

.service-box {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  justify-content: space-evenly;
  padding: 15px;
}

.service-box img {
  height: 2.5rem;
  padding: 10px;
}

.education {
  display: block;
  text-align: center;
} */

/* .site-section-secondary {
  background: #EFEFEF;
} */
 
.project {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin: 2.5rem 1.5rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 2px #F5F5F5;
}


/* .project img:hover  {
  opacity: 0.3;
} */

/* .item:hover .item-in {
  opacity: 1;
  background-color: #00a8e0e2;
  border-radius: 10px;
} */


/* Figure out the projet setup and words display for them */

.project-info {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 32rem;
  overflow-y: auto;
  margin: 1.5rem 1.5rem 1.5rem 2rem;
}

.project-info a {
  text-decoration: none;
  border-bottom: 1px dotted #49bf9d;
  width: 90px;
}

.project-info span {
  color:  #49bf9d;
}

.project img {
  display: block;
  width: 35rem;
  max-width: 100%;
  height: 30rem;
  border-radius: 10px;
  margin: 1.5rem;
}
.project-info a:visited {
  color: initial;
}

/* .item-in h3 {
  color: rgb(0, 255, 115);
  padding: 1rem;
  text-align: center;
  margin: 1rem;
}

.item-in p {
  color: #ffffff;
  padding: 0 1rem 1rem 1rem;
} */


/* .item img:hover {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.44);
  transition: 0.3s ease all;
} */

/*About*/

#about {
  background: #ECF0F1;
  padding: 25px;
  line-height: 30px;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 300;
  color: #777;
}

#about h2 {
  color: #53899f;
  background-color: #ECF0F1;
  background-image: none;
}


.about p {
  padding: 10px;
  color: #5e5e5e;
}

.in-touch {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.in-touch a img {
  height: 4rem;
  border-radius: 20%;
}

.bigger {
  transform: scale(1.1);
}

.in-touch a img:hover {
  transition: 0.3s ease all;
  height: 3.5rem;
}

/* connect */
.connect {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* footer*/

/* #footer {
  background-color: #131313;
  background-size: 20px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #53899f;
  padding: 2rem;
  height: 5rem;
  text-align: center;
  bottom: 0;
} */

/* #footer img {
  display: flex;
  border-radius: 15px;
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 auto 2px;
} */

/* contact */

.taller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taller h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
  display: flex;
  justify-content: center;

}

.center-form {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 20px;
  background-color: #ECF0F1; 
}

 /* nav toggle fix later */
 .navbar-toggle {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: #00a7e0;
  font-size: 24px;
  display: none;
}

.active {
  display: block;
}

/* mobile  */

@media (max-width: 640px) {

  .top-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #services {
    display: flex;
    flex-direction: column;
    background-color: #9E9E9E;
  }
}

@media (min-width: 640px) {
  /* .top-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  #services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .services ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen 
  and (min-device-width: 37.5rem) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  body {
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    font-size: 20px;
    line-height: 1.5;
  }

  .container {
    min-width: 400px;
    display: block;
  }

  /* HEADER   */
  .top-nav {
      display: flex;
      flex-direction: column;
  }
  .top-nav li {
    padding: 5px;
  }
  
/*  HERO  */
  .hero {
    min-height: 200px;
  }
  .hero-content {
    padding-top: 50px;
  }
  .hero-title {
    font-size: 40px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .site-section-inside {
    display: block;
    min-height: 300px;
    text-align: center;
    width: 100%;
  }

  .site-section-inside img {
    height: 4rem;
  }

  .site-section-inside-in {
    display: block;
    width: 100%;
  }

  .site-section .one {
    display: block;
    font-weight: 200;
    overflow-y: auto;
    font-size: 25px;
  }

  .site-section .two {
    display: block;
    overflow-y: auto;
    font-size: 35px;
    font-weight: 200;
  }

  .site-section {
    display: block;
    width: 100%;
  }

  /* #services {
    display: flex;
    flex-direction: column;
  } */
  
/* Projects BOXES   */
  .row-2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 234, 240);
  }

  .item {
    display: block;
    text-align: center;
    min-height: 300px;
  }

  .item-in {
    display: block;
  }
  .item-in h3 {
    display: block;
  }
  .item-in p {
    display: block;
    font-size: 25px;
  }

/* contact */

  .taller {
    margin: 0px auto;
    height: 75rem;
    display: block;
  }

  .second h2 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    color: #777;
    padding: 20px;
  }

  .center-form {
    width:100%;
  }
}
