html {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 1.5;
  width: 100%;
  background-color: #E0E0E0;
}

main {
  height: 100vh;
  width: 100%;
}

.container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

#home {
  background-color: #53899f;
}

/* site-section */

.row {
  display: grid;
  grid-gap: 3rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
}
.row h2 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #fafafa;
}

/*About*/

#about {
  background: #FFFFFF;
  background: -webkit-linear-gradient(top left, #FFFFFF, #A6BDB9);
  background: -moz-linear-gradient(top left, #FFFFFF, #A6BDB9);
  background: linear-gradient(to bottom right, #FFFFFF, #A6BDB9);
  margin: 0 0 2rem;
  padding: 0;
  line-height: 30px;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 300;
  color: #777;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-intro h3 {
  background-color: inherit;
  text-align: center;
  color: #0024aa;
  padding: .5rem;
  
}

.about-intro {
  display: flex;
  margin: 3rem auto 2rem;
  padding: 1rem;
  color: #000000;
  font-weight: 400;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-intro p {
  color: #373736;
  padding: 1rem;
  text-align: center;
  width: 85vw;
}

.in-touch {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.in-touch a img {
  height: 4rem;
  border-radius: 20%;
}

.fab .fa-linkedin {
  height: 4rem;
  border-radius: 20%;
}

.bigger {
  transform: scale(1.1);
}

.in-touch a img:hover {
  transition: 0.3s ease all;
  height: 3.5rem;
}

/* connect */

.connect {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.icon {
  font-size: 5rem;
  color: #000000;
}

.icon:hover {
  transition: 0.3s ease all;
  transform: scale(1.1);
  color: #00a7e0;
}

.taller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taller h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
  display: flex;
  justify-content: center;
}

.center-form {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 20px;
  background-color: #ECF0F1; 
}

.active {
  display: block;
}

/* default page */
.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default a:visited {
  color: initial;
  color: #00a7e0;
}

.default img {
  object-fit: cover;
  width: 25rem;
  margin: 5rem;
}

/* desktop nav */
.desk-nav {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  justify-content: space-evenly;
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  z-index: 99;
}

.fa-times {
  display: none;
}

.desk-nav li {
  font-size: 1.1em;
  min-height: 50px;
  padding: .5rem;
  text-decoration: none;
}

.desk-nav li a:visited {
  color: initial;
  color: #00a7e0;
}

a {
  text-decoration: none;
}

.desk-nav li {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.desk-nav li a {
  color: #00a7e0;
  padding: 8px 16px;
}
ul li a:hover {
  background: #444;
  border-radius: 3px;
  white-space: nowrap;
}

/* mobile nav helpers */

.navbar-toggle {
  transition: ease;
}

.fas {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: #00a7e0;
  font-size: 24px;
  display: none;
  z-index: 99;
}

/* loader */
#loader {
  border: 1.6rem solid #000000;
  border-radius: 50%;
  border-top: 1.6rem solid #56a5eb;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
  margin: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* figure out the toggle with state and make a function to display stuff think vstda */
@media screen and (max-width: 700px) {
  .fas {
    display: block;
  }

  .desk-nav {
    height: 65px;
  }

  .desk-nav li  {
    display: none;
  }

  .fa-times {
    position: absolute;
    z-index: 200;
  }

  .top-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    height: 100vh;
    z-index: 99;
    text-align: center;
    padding: 2rem;
    position: relative;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
  }
  
  .top-nav li {
  font-size: 1.1em;
  min-height: 50px;
  padding: .5rem;
  text-decoration: none;
  }

  .top-nav li {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  .top-nav li a {
    text-decoration: none;
    color: #00a7e0;
    padding: 8px 16px;
  }

  .top-nav li a:visited {
    color: initial;
    color: #00a7e0;
  }

  .top-nav li a:hover {
    background: #444;
    border-radius: 3px;
    white-space: nowrap;
  }
  .project {
    margin: 5px;
  }
}

/* fix smaller screen sizes iphone 5 */