html {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 1.5;
  width: 100%;
  background-color: #E0E0E0;
}

main {
  height: 100vh;
}

.container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

#home {
  background-color: #53899f;
}

/* site-section */

.row {
  display: grid;
  grid-gap: 3rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
}
.row h2 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #fafafa;
}

/* Projects */

.project {
  background-color: #fafafa;
  padding: 1rem;
  margin: 10px;
  border-radius: 8px;
  align-items: center;
  box-shadow: 1px 1px 1px #F5F5F5;
  position: relative;
}

.project:hover {
  background-color: #E0E0E0;
  transition: 0.1s ease all;
  box-shadow: 1px 1px 1px #BDBDBD;
  transform: scale(1.01);
}

.tech-stack {
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
}
.tech-stack span {
  color: #01579B;
}

.project-info {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-height: 34rem;
  margin: 1.5rem auto;
}

.color-gr {
  text-decoration: none;
  color: #F5F5F5;
  background-color: #49bf9d;
  padding: 6px 8px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.color-gr:hover {
  background-color: #F5F5F5;
  color: #49bf9d;
  border: .1px solid #49bf9d;
}

.project h3 {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0 0 0 1rem;
  color:  #01579B;
  font-weight: 600;
  text-transform: lowercase;
}

.project-info p {
  color: #616161;
  word-wrap: break-word;
  margin: 0 0 5rem;
  padding: 1rem;
  text-align: center;
}

.project img {
  object-fit: cover;
  display: block;
  width: min(100%, 35rem);
  border-radius: 10px;
  margin: 5rem auto 0;
  flex: 1;
}

/*About*/

#about {
  background: #ECF0F1;
  padding: 25px;
  line-height: 30px;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 300;
  color: #777;
}

#about h3 {
  background-color: #ECF0F1;
  background-image: none;
  color: #40C4FF;
  padding: .5rem;
}

.about p {
  padding: 10px;
  color: #5e5e5e;
}

.in-touch {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.in-touch a img {
  height: 4rem;
  border-radius: 20%;
}

.bigger {
  transform: scale(1.1);
}

.in-touch a img:hover {
  transition: 0.3s ease all;
  height: 3.5rem;
}

/* connect */

.connect {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.taller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taller h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
  display: flex;
  justify-content: center;
}

.center-form {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 20px;
  background-color: #ECF0F1; 
}

.active {
  display: block;
}

/* default page */
.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default a:visited {
  color: initial;
  color: #00a7e0;
}

.default img {
  object-fit: cover;
  width: 25rem;
  margin: 5rem;
}

/* desktop nav */
.desk-nav {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  justify-content: space-evenly;
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  z-index: 999;
}

.desk-nav li {
  font-size: 1.1em;
  min-height: 50px;
  padding: .5rem;
  text-decoration: none;
}

.desk-nav li a:visited {
  color: initial;
  color: #00a7e0;
}

a {
  text-decoration: none;
}

.desk-nav li {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.desk-nav li a {
  color: #00a7e0;
  padding: 8px 16px;
}
ul li a:hover {
  background: #444;
  border-radius: 3px;
  white-space: nowrap;
}

/* mobile nav helpers */

.navbar-toggle {
  transition: ease;
}

.fas {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: #00a7e0;
  font-size: 24px;
  display: none;
  z-index: 99;
}

/* loader */
#loader {
  border: 1.6rem solid #000000;
  border-radius: 50%;
  border-top: 1.6rem solid #56a5eb;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
  margin: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* figure out the toggle with state and make a function to display stuff think vstda */
@media screen and (max-width: 700px) {
  .fas {
    display: block;
  }
  .desk-nav {
    height: 65px;
  }
  .desk-nav li  {
    display: none;
  }
  .top-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    z-index: 999;
  }
  .top-nav li {
  font-size: 1.1em;
  min-height: 50px;
  padding: .5rem;
  text-decoration: none;
  }
  .top-nav li {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  .top-nav li a {
    text-decoration: none;
    color: #00a7e0;
    padding: 8px 16px;
  }
  .top-nav li a:visited {
    color: initial;
    color: #00a7e0;
  }
  ul li a:hover {
    background: #444;
    border-radius: 3px;
    white-space: nowrap;
  }
  .project {
    margin: 5px;
  }
}

/* fix smaller screen sizes iphone 5 */