.card {
  display: flex;
  margin: 3rem auto 2rem;
  gap: 1rem;
  padding: 1rem;
  color:  inherit;
  font-weight: 600;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.card h1 {
  font-size: clamp(1rem, 20vw, 2.3rem); 
  padding: .5rem;
  margin: 0 auto;
  top: 25%;
  text-align: center;
}

.card p {
  color: #373736;
  margin-top: .5rem;
  padding: 1rem;
  text-align: right;
}

strong {
  color: #5FD3BB;
}

p strong {
  color: #FC2683;
}

.card img {
  object-fit: cover;
  width: clamp(12rem, 15vw, 24rem); 
  border-radius: 5%;
  margin: 0 0 1rem;
}

.card a {
  margin: 1rem;
  /* bottom: 0; */
  text-decoration: none;
  color: #F5F5F5;
  background-color: #0288D1;
  padding: 10px 8px;
  border-radius: 10px;
  transition: background-color .2s ease-in-out,color .2s ease-in-out,border-color .2s ease-in-out;
}

.card a:hover {
  opacity: 0.5;
  transition: 0.1s ease all;
}

.card-child {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

a.newrocket {
  color: #573D82;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 1024px) {
  .card {
    flex-direction: column-reverse;
  }
  .button-container {
    justify-content: center;
  }
}