#services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.services h2 {
  text-align: center;
  color: #01579B;
  border-bottom: 1px solid #212121;
}

.services ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
  padding: 1rem;
}

.service-card {
  margin: 2rem;
  background-color: #546E7A;
  color: #fff;
  padding: 2rem 4rem;
  border-radius: .3rem;
  box-shadow: 1px 1px 1px #212121;
}

.card-1 {
  background-color: #4FC3F7;
}

.card-2 {
  background-color: #FFF176;
  color: #111111;
}